/* Supprime l'import Google Fonts car il ne marchera pas sans internet */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins...'); */

/* Import de Tailwind v4 */
@import "tailwindcss";

/* 1. Déclarations Locales (Assure-toi que les fichiers sont dans src/assets/fonts/) */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
}

/* 2. Configuration du Thème v4 */
@theme {
  /* On remplace Poppins par Montserrat (ta police locale) */
  --font-sans: "Montserrat", ui-sans-serif, system-ui;
  
  --color-brand-primary: #FF4B4B;
  --color-brand-primary-dark: #D33131;
  --color-brand-border: #E5E5E5;
  --color-brand-border-dark: #DCDCDC;
  --color-brand-bg: #F7F7F7;
  --color-brand-text: #4B4B4B;
  --color-brand-muted: #AFB4BE;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  .dark {
    --color-brand-bg: #131F24;
    --color-brand-border: #37464F;
    --color-brand-border-dark: #202F36;
    --color-brand-text: #F1F1F1;
  }

  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
    /* Utilise la variable configurée dans @theme */
    font-family: var(--font-sans);
    transition: background-color 0.3s, color 0.3s;
    @apply antialiased;
  }
}