@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-duo-red: #FF4B4B;
}

body {
  font-family: var(--font-poppins);
}

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui;
  
  --color-brand-primary: #FF4B4B;
  --color-brand-primary-dark: #D33131;
  --color-brand-border: #E5E5E5;
  --color-brand-border-dark: #DCDCDC;
  --color-brand-bg: #F7F7F7;
  --color-brand-text: #4B4B4B;
  --color-brand-muted: #AFB4BE;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  .dark {
    --color-brand-bg: #131F24;
    --color-brand-border: #37464F;
    --color-brand-border-dark: #202F36;
    --color-brand-text: #F1F1F1;
  }

  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
    font-family: var(--font-sans);
    transition: background-color 0.3s, color 0.3s;
    @apply antialiased;
  }
}